html {
    min-height: 100%;
}

body {
    max-width: 800px;
    min-height: 100%;
    margin: -1px auto -1px auto;
    padding: 1px 1em 1px 1em;
}

h1, h2 {
    border-bottom: 3px solid #8c8b8b;
    margin-bottom: 5px;
}

h2 {
    border-bottom: 3px double #8c8b8b;
    font-size: 120%;
}

.center {
    text-align: center;
}

.content {
    margin: 2em auto 0 auto;
}

.links {
    float:right;
    margin: 0;
}