---
title: Christopher A. Wood | Blog
---

<h2>Blog Posts</h2>
<ol>
    <% data.blog.posts.each do |post| %>
    <li>
        <%= post.date %> &hearts; <%= link_to post.title, post.link %>
    </li>
    <% end %>
</ol>
