---
title: Christopher A. Wood
---

<div class="card" style="display:flex; align-items:center;">
    <img src="images/CAWheadshot2.jpg" align="left" style="vertical-align:middle; margin:2em" height="250" width="250" alt="my ugly mug"/>
    <p>
        <a href="#">Christopher A. Wood</a> <br />
        <a href="http://ics.uci.edu">Department of Computer Science</a> <br />
        <a href="http://www.uci.edu">University of California Irvine</a> <br /><br />
        Email: woodc1 at uci dot edu</a> <br />
        CV: <a href="https://github.com/chris-wood/cv/raw/master/caw_cv.pdf">Curriculum Vitae</a> <br />
        &#128271; Blog: <a href="http://chris-wood.github.io">chris-wood.github.io</a> <br /><br />
        &#128211; Research Interests: Security and privacy for computer networks, systems, and protocols <br />
        [<a href="https://scholar.google.com/citations?user=f_QuauMAAAAJ&hl=en">Google Scholar</a>,
        <a href="http://dblp.uni-trier.de/pers/hd/w/Wood:Christopher_A=">DBLP</a>] <br /><br /> <!-- test -->
    </p>
</div>

<h2>&#x26A0; Updates</h2>
<ul>
    <% data.news.first(5).each do |n| %>
        <li>[<%= n.date %>] <%= n.content %></li>
    <% end %>
</ul>

<h2>&#9749; My Daily Grind</h2>
<p>
    I am a Secure Transports Engineer at <a target="_blank" href="https://www.apple.com">Apple</a>. I recently graduated from UCI with a 
    Ph.D. in Computer Science, where I focused on network security and privacy under <a href="http://www.ics.uci.edu/~gts/">Gene Tsudik</a>.
</p>
<p>
    My research interests focus on the intersection of network architectures and protocols,
    security and privacy, and applied cryptography. Much of my recent work is mostly focused on
    security and privacy problems in the Content-Centric Networking (CCN) architecture.
    My tenure at UCI was funded by a NSF Graduate Research Fellowship.
</p>
<p>
    Before Apple, I was a core developer of <a target="_blank" href="http://www.ccnx.org/">CCNx</a>
    in the Computer Science Laboratory at <a target="_blank" href="http://www.parc.com">PARC</a> (Palo Alto Research Center).
    I graduated with a B.S. and M.S. in Computer Science and B.S. in Software Engineering from RIT in 2013.
    During my time there I was advised by Dr. Stanislaw Radziszowski. In the past, I worked at Intel, L-3 Communications, and
    other small software firms. I received the NSF Graduate Research Fellowship (NSF GRFP) in 2014. I am also a
    member of the IEEE, ACM, IACR, SIAM, Internet Society, and Tau Beta Pi organizations.
</p>

</div>