---
title: Christopher A. Wood
---
<div class="card">
  <div style="text-align:center" class="card-image">
      <img src="images/CAWheadshot2.jpg" height="300" width="300" alt="my ugly mug"/>
  </div>
  <div class="card-content">
    <p><a href="#">Christopher A. Wood</a> <br />
    <a href="http://ics.uci.edu">Department of Computer Science</a> <br />
    <a href="http://www.uci.edu">University of California Irvine</a> <br /><br />
    Email: woodc1 at uci dot edu</a> <br />
    CV: <a href="https://www.christopher-wood.com/docs/caw_cv.pdf">Cirriculum Vitae</a> <br />
    &#128271; Blog: <a href="http://chris-wood.github.io">chris-wood.github.io</a> <br /><br />
    &#128211; Research Interests: Security and privacy for computer networks, systems, and protocols <br />
    [<a href="https://scholar.google.com/citations?user=f_QuauMAAAAJ&hl=en">Google Scholar</a>,
    <a href="http://dblp.uni-trier.de/pers/hd/w/Wood:Christopher_A=">DBLP</a>] <br /><br /> <!-- test -->

    &#9851; Activities
    <ul>
        <li>Web chair for 4th ACM Conference on Information-Centric Networking (ACM ICN 2017)</li>
        <li>External reviewer for: IEEE S&P Magazine, AsiaCCS 2017, and ACM ICN 2016</li>
        <li>Active IRTF ICNRG contributor since 2015</li>
        <li>Contributor to the <a href="http://www.cs.yale.edu/homes/peralta/CircuitStuff/CMT.html">Circuit Minimization Team (CMT)</a></li>
    </ul>
    </div>
</div>

<h2>&#x26A0; Updates</h2>
<ul>
    <% data.news.first(5).each do |n| %>
        <li>[<%= n.date %>] <%= n.content %></li>
    <% end %>
</ul>

<h2>&#9749; My Daily Grind</h2>
<p>
    I am a fourth-year Ph.D. candidate at UCI with a research focus on applied cryptography and network
    security under Gene Tsudik. I also work as a Secure Transports Engineer at <a target="_blank" href="https://www.apple.com">Apple</a>.
    I live and work in the Bay Area and study in Irvine.
</p>
<p>
    My research interests focus on the intersection of network architectures and protocols,
    security and privacy, and applied cryptography. Much of my recent work is mostly focused on
    security and privacy problems in the Content-Centric Networking (CCN) architecture.
    My tenure at UCI is funded by a NSF Graduate Research Fellowship.
</p>
<p>
    Before Apple, I was a core developer of <a target="_blank" href="http://www.ccnx.org/">CCNx</a>
    in the Computer Science Laboratory at <a target="_blank" href="http://www.parc.com">PARC</a> (Palo Alto Research Center).
    I graduated with a B.S. and M.S. in Computer Science and B.S. in Software Engineering from RIT in 2013.
    During my time there I was advised by Dr. Stanislaw Radziszowski. In the past, I worked at Intel, L-3 Communications, and
    other small software firms. I received the NSF Graduate Research Fellowship (NSF GRFP) in 2014. I am also a
    member of the IEEE, ACM, IACR, SIAM, Internet Society, and Tau Beta Pi organizations.
</p>
