---
title: Christopher A. Wood | Output
---

<h2>Personal Projects</h2>
I work on other various projects in my free time. See my <a href="https://github.com/chris-wood">
Github</a> profile for a list. Below is a snippet of my recent activity.

<br/><br/><br/>

<div class="calendar">
    Loading...
</div>
<script>
    new GitHubCalendar(".calendar", "chris-wood", {"global_stats": false, "summary_text": ""});
</script>

<h2>Blog Posts</h2>
I also try to write about random topics of interest. Below is a collection of posts.

<ol>
    <% data.blog.posts.each do |post| %>
    <li>
        <%= post.date %> &hearts; <%= link_to post.title, post.link %>
    </li>
    <% end %>
</ol>

