---
title: Christopher A. Wood | Output
---

<p>
I work on other various projects in my free time. See my <a href="https://github.com/chris-wood">
Github</a> profile for a list. 
</p>

<p>
I also try to write about random topics of interest. Below is a collection of posts.
</p>

<ol>
    <% data.blog.posts.each do |post| %>
    <li>
        <%= post.date %> &hearts; <%= link_to post.title, post.link %>
    </li>
    <% end %>
</ol>

