---
title: Christopher A. Wood | Software
---

<h2>Research Software</h2>
<a href="https://chris-wood.github.io/coreo-network/">COREO</a>: a CCN software suite
that includes the following subprojects:
<ul>
    <li>
        iris: XXX
    </li>
    <li>
        spud: XXX
    </li>
    <li>
        ccnxTestrig: XXX
    </li>
    <li>
        ccnx-pktgen: XXX
    </li>
    <li>
        fiblib: XXX
    </li>
    <li>
        dissect: XXX
    </li>
</ul>
It is based on the latest CCNx specifications <a href="https://chris-wood.github.io/coreo-spec/">located here</a>.

<h2>Personal Projects</h2>
I work on other various projects in my free time. See my <a href="https://github.com/chris-wood">
Github</a> profile for a list. Below is a snippet of my recent activity.

<br/><br/><br/>

<div class="calendar">
    Loading the data just for you.
</div>
<script>
    new GitHubCalendar(".calendar", "chris-wood", {"global_stats": false, "summary_text": ""});
</script>
