---
title: Christopher A. Wood | Talks
---

<h2>Talks and Presentations</h2>
<ol>
    <% data.talks.talks.each do |t| %>
    <li>
        <% if t.links["pdf"] and t.links["pdf"].length > 0 then %> <p><b>"<%= link_to t.title, t.links["pdf"] %>,"</b> <%= t.venue %>.</p>
        <% else %>
        <p><b>"<%= t.title %>,"</b> <%= t.venue %>.</p>
        <% end %>
    </li>
    <% end %>
</ol>
